<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .red {
            color: red;
        }

        .center {
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul v-for="item in items" :key="item.name">
            <li>{{item.name}}</li>
        </ul>
        <button v-on:click="clickMethod">点击改变items</button>
        <br />
        <input type="text" v-if="isText" key="text" v-model="name">
        <input type="email" v-else key="email">
        <button v-on:click="switchMethod">点击切换input类型</button>
        <p>{{name}}</p>
    </div>

    <script type="module">
        import Vue from './src/intance/index.js'

        const app = new Vue({
            el: '#app',
            data: {
                items: [
                    {
                        name: "apple",
                        price: 1
                    },
                    {
                        name: "orange",
                        price: 1
                    },
                    {
                        name: "peach",
                        price: 1
                    },
                    {
                        name: "banana",
                        price: 1
                    },
                ],
                isText: false,
                name: "Nicholas",
                count: 1
            },
            watch: {
                count: function (oldValue, newValue) {
                    console.log("👁️‍🗨️ watcher of count called")
                    console.log(`count is changed from ${oldValue} to ${newValue}`)
                }

            },
            methods: {
                clickMethod() {
                    console.log("🌍  click method called")
                    this.items.unshift({
                        name: "juice",
                        price: 10
                    })
                },
                switchMethod() {
                    this.isText = !this.isText
                }
            }
        })
        app.count = 2
    </script>
</body>

</html>